@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  background: #020617;
  color: #e2e8f0;
  font-family: Arial, Helvetica, sans-serif;
}
@layer base {
  button,
  [type="button"],
  [type="submit"] {
    @apply cursor-pointer;
  }
}
  
